body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: #3775b3;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  text-align: center;
}
video{
  background-color: rgb(102, 99, 96);
}

.logo{
  height: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 146, 43);
}

.img_tag {
  width: 240px;
  height: auto;
  text-align: center;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

section {
  margin: 20px;
}

footer {
  margin-top: 100px;
  text-align: left;
  padding: 10px;
  background-color: #3498db;
  color: white;
}
p{
  text-align: justify;
}
